@import "~bootstrap/scss/bootstrap";
@import './toolbar.scss';
@import './home.scss';
@import './login.scss';

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  margin: 0;
}