@import "~bootstrap/scss/bootstrap";

@import "../../components/main/contact/contact";
@import '../../components/main/home/home';
@import '../../components/main/login/login';
@import "../../components/main/logout/logout";
@import '../../components/main/navigation/navigation';


figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  margin: 0;
}