.main-page {

  margin-left: 70px;
  padding: 15px;

  .top-page-text {
    margin: 3rem;
    border-bottom-color: gray;
    border-bottom-style: groove;
    text-align: left;
  }

  .top-page-text-details {
    font-size: small;
    font-weight: bolder;
    color: dimgrey;

    background: white;
    box-shadow: whitesmoke;
    border-bottom: 1px dotted;
    border-bottom-color: dimgrey;
    margin-top: 1rem;
  }

  .top-page-text-details-at {
    margin-bottom: 0;
  }

  .top-page-text-details-text {
    font-weight: normal;
    color: grey;
    background: white;
    margin-top: 0;
    text-align: justify;
  }

  @media only screen and(max-width: 768px) {
    .top-page-text {
      margin: 1rem;
      text-align: center;
    }
  }
}