.table-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}


@media screen and (max-width: 768px) {
  .table-page {
    margin-left: 0;
    padding: 50px 10px 0 70px;
  }
  .overflow-mobile {
    overflow-x: auto;
  }
}