.table-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

@media screen and (max-width: 639px) { // todo
  .table-page {
    margin-left: 60px;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}