.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;

  button {
    margin-top: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 639px) {
  .login-page {
    margin-left: 60px;
    max-width: 250px;
    align-content: center;
  }
}