.login-page {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

@media screen and (max-width: 639px) {
  .login-page {
    margin-left: 60px;
    max-width: 300px;
    align-content: center;
  }
}